body{
    overflow-x: hidden;
}
body a {
    text-decoration: none;
    color: #fff;
}
.allPage{
    /*position: relative;*/
    /*width: 100%;*/
    /*min-height: 100vh;*/
    /*padding: 100px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background: #CB3B3B;
    /* clip-path: polygon(0% 0%, 77% 0%, 74% 5%, 72% 7%, 72% 9%, 71% 12%, 69% 16%, 69% 19%, 69% 24%, 69% 27%, 69% 35%, 69% 39%, 69% 46%, 71% 50%, 71% 55%, 72% 59%, 72% 64%, 73% 70%, 73% 75%, 75% 81%, 75% 84%, 77% 88%, 78% 96%, 80% 99%, 0% 100%); */
        /* clip-path: circle(180vh at 50% -80vh); */
    /* clip-path: circle(180vh at left 70%); */
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4B4B4B;
    opacity: 29%;
    clip-path: circle(600px at right 400px);
    /* clip-path: circle(46.8% at right 50% 50%); */
    /* clip-path: circle(70% at right -50%); */
}
.circleSpan{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(530px at right 300px);
    object-fit: cover;
    /* background-image: url(/public/images/pexels-pixabay-534220@2x.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* clip-path: circle(46.8% at right 50% 50%); */
    /* clip-path: circle(70% at right -50%); */
}

header{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    padding: 0 100px;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*display: inline-flex;*/

}

header .logo{
    position: relative;
    max-width: 150px;
    color: #fff;
}

/*header .navigation{*/
/*    position: relative;*/
/*    display: flex;*/
/*    text-align: left;*/
/*    list-style: none;*/
/*}*/
header .navigation li .firstLink{
    /*display: inline-block;*/
    color: #fff;
    /*font-weight: 300;*/
    /*font-size: 1.1rem;*/
    /*text-decoration: none;*/
    margin-left: 80px;
}
/*.pageContent{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
.pageContent .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.pageContent .textBox h2{
    color: #fff;
    font-size: 3rem;
    /*margin-top: 70px;*/
    /*margin-bottom: 50px;*/
    /*line-height: 1.4rem;*/
    font-weight: 700;
}
.pageContent .textBox p{
    color: #fff;
    font-size: 1.2rem;
}
.pageContent .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

nav #marker{
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    background: #000;
    bottom: -8px;
    transition: all .5s ease;
    border-radius: 4px;
}

.launchBtn a{
    /*display: inline-block;*/
    /*margin-top: -400px;*/
    padding: 8px 20px;
    color: #fff;
    /*border: #CB3B3B 1px solid;*/
    border: #CB3B3B 1px solid;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.linkBox{
    padding: 50px 100px;
    width: auto;
    /*justify-content: space-evenly;*/
    /*align-items: end;*/
    /*display: inline-flex;*/
}
.signInBtn{
    color: #CB3B3B;
}
.vLine{
    border-right: 3px solid #CB3B3B;
    height: 30px;
    border-radius: 50px;
    margin: 0 20px;
}
.bottomVLine{
    border-right: 3px solid #fff;
    height: 70px;
    border-radius: 50px;
    margin: -20px 30px;
}
/*.navIcons{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    bottom: 20px;*/
/*    transform: translateX(-50%);*/
/*    display: flex;*/
/*}*/
.navIcons li{
    /*display: inline-block;*/
    /*list-style: none;*/
    /*margin: 0 20px;*/
    cursor: pointer;
}
